.ttt{
  height: 100%;
  background-color: $color-bg-light;
}
header{
  text-align: center;

  h1{
    margin: 0 0 20px;
    padding-top: 20px;
  }
}

section.board{
  display: flex;
  flex-direction: column;
  width: 100%;
  align-content: center;

  header.info-bar{
    width: 100%;
    font-size: 20px;
    background-color: $color-bg-dark;
  }

  div.game{
    position: relative;
    display: grid;
    grid-template-areas: "case case case"
                         "case case case"
                         "case case case";
    grid-gap: 15px;
    width: 500px;
    height: 500px;
    margin: 50px auto;
    padding: 20px;
    border-radius: 10px;
    background-color: $color-game;

    @media screen and (max-width: 1400px){
      width: 400px;
      height: 400px;
    }
    @media screen and (max-width: 600px){
      width: 350px;
      height: 350px;
    }
    @media screen and (max-width: 480px){
      width: 300px;
      height: 300px;
    }
    @media screen and (max-width: 400px){
      width: 250px;
      height: 250px;
    }

    div.case{
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      grid-area: "case";
      border-radius: 10px;

      width: 100%;

      background-color: $color-game-case;
      cursor: pointer;

      &:hover{
        background-color: lighten($color-game-case, 10%);
      }
      &:focus{
        outline: none;
      }

      @keyframes popIn {
        from{transform: scale(1)}
        50%{transform: scale(1.1)}
        to{transform: scale(1)}
      }

      @keyframes circleAppear{
        from{transform: scale(0.5)}
        50%{transform: scale(1.1)}
        to{transform: scale(1)}
      }
      @keyframes crossAppear{
        from{transform: rotate(-45deg) scale(0.5)}
        50%{transform: rotate(-45deg) scale(1.1)}
        to{transform: rotate(-45deg) scale(1)}
      }
      @keyframes crossAppear2{
        from{transform: rotate(45deg) scale(0.5)}
        50%{transform: rotate(45deg) scale(1.1)}
        to{transform: rotate(45deg) scale(1)}
      }

      &.cross{
        &::before, &::after{
          position: absolute;
          display: block;
          content: '';
          width: 10%;
          height: 70%;
          background-color: #212121;
          transform: rotate(-45deg);

          animation: crossAppear .2s linear;  
        }
        &::after{
          transform: rotate(45deg);
          animation: crossAppear2 .2s linear;  
        }

        animation: popIn .2s linear;
      }
      &.circle{
        &::before{
          position: absolute;
          display: block;
          content: '';
          width: 50%;
          height: 50%;
          border-radius: 50%;
          border: 13px solid #212121;

          animation: circleAppear .2s linear;

          @media screen and (max-width: 600px){
            border-width: 11px;
          }
          @media screen and (max-width: 480px){
            border-width: 8px;
          }
          @media screen and (max-width: 400px){
            border-width: 7px;
          }
        }

        animation: popIn .2s linear;
      }
    }
  }

  div.game .overlay-finish{
    display: flex;
    position: absolute;
    z-index: 10;
    top: 0; right: 0; bottom: 0; left: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #FFF;
    font-size: 45px;
    font-weight: 600;
    text-transform: uppercase;
    // width: 100%;
    // height: 100%;
    background-color: #FFF00077;

    @keyframes fadeAppear {
      0%{ opacity: 0; }
      100%{ opacity: 1; }
    }

    animation: fadeAppear .3s linear;
  }

  div.game .overlay-finish button{
    position: absolute;
    bottom: 10%;
    margin-top: 0px;
    font-weight: 800;
    font-size: 100px;
    background: none;
    border: none;
    color: #FFF;

    transition: transform .2s;

    &:hover{
      cursor: pointer;
      transform: scale(0.9) rotate(-25deg);
      transform-origin: center center;
    }
    &:focus{
      outline: none;
      transform: scale(0.8) rotate(-25deg);
    }
  }

}